form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-top: 10px;
}

button {
  margin-top: 20px;
  margin-right: 15px;
}

table {
  width: 100%;
}

.edit {
  margin-right: 10px;
}

.edit >i {
  color: #d9cd26
}

.delete > i {
  color: #e35e6b;
}
